@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input,
  textarea,
  select {
    @apply rounded-md outline-theme-dark-red/50 bg-stone-800 text-white p-2;
  }

  input:focus,
  textarea:focus,
  select:focus {
    @apply outline;
  }

  input:disabled,
  textarea:disabled,
  select:disabled {
    @apply bg-gray-200;
  }

  select {
    @apply rounded-md outline-theme-dark-red/50 bg-stone-800 text-white p-2 py-[0.55rem];
  }

  button {
    @apply boton-default;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  h4 {
    @apply text-base;
  }

  h5 {
    @apply text-sm;
  }
}

@layer components {
  .boton-default {
    @apply bg-theme-dark-red px-5 py-3 rounded-md text-white font-bold;
  }

  .boton-secundario {
    @apply boton-default bg-white text-theme-dark-red;
  }

  .boton-disable {
    @apply boton-default bg-stone-700;
  }

  .boton-error {
    @apply boton-default bg-theme-red;
  }

  .boton-guardar {
    @apply boton-default bg-theme-green;
  }

  .theme-full-dark-blur {
    @apply fixed w-screen h-screen backdrop-blur-sm z-50 top-0 left-0 bg-black/20;
  }
}
